.board {
  margin-top: 15px;

  .game-status {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .superman-mode-checkbox-container {
    display: inline-block;
    margin-right: 10px;
  }
  .remaining-flags-indicator {
    display: inline-block;
  }
  .board-container {
    margin: 10px auto;
    border-spacing: 0;
    border-collapse: collapse;
  }
}
