.cell {
  border: 1px solid black;
  min-width: 15px;
  height: 15px;
  position: relative;

  .cell-data-layer {
    .mine-image{
      width: 10px;
      height: 10px;
    }

    .mines-count {
      color: forestgreen;
      font-weight: bold;
      font-size: 11px;
    }
  }

  .cell-cover-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #98999b;

    .superman-mode & {
      opacity: 0.5;
    }
  }

  .cell-flag-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .flag-image {
      width: 10px;
      height: 10px;
    }
  }
}